[submodule "agi3sdk"]
	path = external/agi3sdk
	url = git@github.com:Renforce-Dynamics/agi3sdk.git
[submodule "planetConfig"]
	path = external/planetConfig
	url = git@github.com:Renforce-Dynamics/planetConfig.git
